/* Universlal Selector Start */

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* Universlal Selector End */

/* Header Banner CSS Start */
.first-banner {
    height: 85vh;
    width: 100%;
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
}

.first-banner-headlines {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-right: -116px;
}

.first-banner-headlines h1 {
    color: #272727;
    font-size: 58px;
    font-weight: 800;
}

.first-banner-headlines p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 350px;
    line-height: 25px;
}

.first-banner-image img {
    width: 450px;
    height: 535px;
}

.first-banner-btn {
    padding: 20px 15px;
    align-items: center;
    gap: 10px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    width: 200px;
    border-radius: 8px;
    background: #E55473;
    border: 0;
}

/* Header Banner CSS End */

/* Featured Flower Section Start */
.featured-flower-heading h1 {
    width: 50%;
    color: #272727;
    margin: auto;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.featured-flower-heading p {
    width: 45%;
    color: #272727;
    margin: auto;
    text-align: center;
}

.featured-flower {
    /* padding: 200px 0px; */
    text-align: center;
    /* height: 80vh; */
}

.featured-flower-images {
    display: flex;
    gap: 20px;
    width: 60%;
    justify-content: space-around;
    margin: auto;
}

/* .featured-flower-image {
    text-align: center;
} */

.featured-flower {
    padding-top: 150px;
}

.featured-flower-image {
    padding-top: 60px;
}

.featured-flower-image h3 {
    padding: 40px;
    text-decoration: underline;
}

.featured-flower-image-bg {
    width: 320px;
    height: 350px;
    display: flex;
    align-items: end;
    text-align: center;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.featured-flower-image img {
    width: 206px;
    height: 266px;
    margin: auto;
    margin-bottom: 0px;

}


/* Featured Flower Section End */