/* Universlal Selector Start */

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* Universlal Selector End */

/* Header Banner CSS Start */
.first-banner {
    height: 85vh;
    width: 100%;
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
}

.first-banner-headlines {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-right: -116px;
}

.first-banner-headlines h1 {
    color: #272727;
    font-size: 58px;
    font-weight: 800;
}

.first-banner-headlines p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 350px;
    line-height: 25px;
}

.first-banner-image img {
    width: 450px;
    height: 535px;
}

.first-banner-btn {
    padding: 20px 15px;
    align-items: center;
    gap: 10px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    width: 200px;
    border-radius: 8px;
    background: #E55473;
    border: 0;
}

/* Header Banner CSS End */

/* Featured Flower Section Start */
.featured-flower-heading h1 {
    width: 50%;
    color: #272727;
    margin: auto;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.featured-flower-heading p {
    width: 45%;
    color: #272727;
    margin: auto;
    text-align: center;
}

.featured-flower {
    text-align: center;
}

.featured-flower-images {
    display: flex;
    gap: 20px;
    width: 60%;
    justify-content: space-around;
    margin: auto;
}

.featured-flower {
    padding-top: 150px;
}

.featured-flower-image {
    padding-top: 60px;
}

.featured-flower-image h3 {
    padding: 40px;
    text-decoration: underline;
}

.featured-flower-image-bg {
    width: 320px;
    height: 350px;
    display: flex;
    align-items: end;
    text-align: center;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.featured-flower-image img {
    width: 206px;
    height: 266px;
    margin: auto;
    margin-bottom: 0px;

}

/* Featured Flower Section End */

/* Benefit Section Start */
.benefits {
    display: flex;
    justify-content: space-around;
    margin: 80px 170px;
    text-align: center;
    background: rgba(39, 39, 39, 0.05);
    padding: 50px;
    border-radius: 8px;

}

.benefits-item img {
    width: 60px;
    padding-bottom: 10px;
}

/* Benefit Section End */

/* Sign Up Section Start */
.sign-up {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgba(229, 84, 115, 0.05);
    border-radius: 8px;
}

.sign-up-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
    padding: 100px 200px;
    margin: auto;
}

.sign-up-description {
    text-align: center;
}

.sign-up-image img {
    height: 300px;
}

.sign-up-description h1 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.sign-up-description span {
    color: #E55473;
}

.sign-up-description p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 20px;
}

.sign-up-description button,
.coupon-subscribe-button {
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    color: white;
    border: 0;
}

/* Sign Up Section End */

/* Album Section Start */
.album {
    text-align: center;
    padding: 64px 200px;
}

.album-heading {
    padding: 41px 100px;
}

.album-heading h1 {
    width: 50%;
    color: #272727;
    margin: auto;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.album-heading p {
    padding-top: 20px;
    width: 84%;
    color: #272727;
    margin: auto;
    text-align: center;
}

.album-pictures {
    text-align: center;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
}

.album-picture img {
    width: 235px;
}

/* Album Section End */

/* Subscribe Section Start  */

.coupon {

    background-image: url('../Flower_Asset/coupon_background.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 0px;

    margin: 10px 170px;
}

.coupon-heading {
    padding: 41px 100px;
}

.coupon-heading h1 {
    width: 55%;
    color: #272727;
    margin: auto;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.coupon-heading p {
    padding-top: 20px;
    width: 84%;
    color: #272727;
    margin: auto;
    text-align: center;
}

.subscribe {
    text-align: center;
    padding-bottom: 70px;
}


.subscribe input {
    border: 0;
    border-radius: 8px;
    padding: 17px 283px 17px 12px;
}

/* .subscribe input::placeholder {} */

/* Subscribe Section End  */